.horizontalMenu__option {
  width: 33.33%;
  text-align: center;
  position: relative;
  vertical-align: middle;
  //background-color: $background-menu;

  &:hover {
    background-color: $background-menu-icon-hover;
  }

  svg {
    margin: 1.5vh 5px;
  }
}
