.tableWithHours {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: calc(95vh - 20px);
  overflow-y: scroll;
  align-items: stretch;

  //hide scrollbars
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &__hourColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 5px;
    flex-grow: 1;
  }

  &__contentContainer {
    flex-grow: 10;
    overflow-y: visible;
    overflow-x: scroll;
    min-height: 1248px;

    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__element {
    text-align: center;
    margin-bottom: 5px;
    min-height: 72px;
    min-width: 170px;
    position: relative;
    line-height: 60px;
    vertical-align: middle;

    &::after {
      width: 80%;
      content: "";
      border-bottom: 1px solid black;
      display: block;
      position: absolute;
      bottom: 0;
      left: 10%;
    }
  }
}
