.weeklyLessons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  min-height: 1248px;
  overflow-y: visible;
  overflow-x: scroll;
  align-items: stretch;

  //hide scrollbars
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-right: 5px;
    flex-grow: 1;
    flex-basis: 0;
  }
}
