.hourPicker__column {
  display: inline-block;
  text-align: center;
  width: 2em;
  .hourPicker__columnTitle {
    font-size: 0.6em;
    padding: 2px;
  }

  .hourPicker__listContainer {
    position: relative;
    &:before,
    &:after {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      height: 50px;
      pointer-events: none;
    }

    &:before {
      background-image: linear-gradient(
        rgba(100, 100, 100, 0.7),
        rgba(100, 100, 100, 0)
      );
    }

    &:after {
      bottom: 0;
      background-image: linear-gradient(
        rgba(100, 100, 100, 0),
        rgba(100, 100, 100, 0.7)
      );
    }
  }

  .hourPicker__list {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
  }
}
