$background-page: rgb(50, 50, 50);
$background-menu: rgb(30, 30, 30);
$background-menu-icon-hover: rgb(88, 137, 255);
$background-menu-text-hover: rgb(42, 89, 232);
$pane-title-color: rgb(88, 137, 255);
$background-pane: rgba(50, 50, 50, 0.8);
$settings-button-color: rgb(0, 0, 0);
$background-hours-pick: rgba(50, 50, 50, 0.95);
$background-cells-hover: rgb(42, 89, 232);
